Flask>=2.3.3
opencv-python>=4.8.1.78
numpy>=2.0.0
matplotlib>=3.7.2
Pillow>=10.0.0
pytesseract>=0.3.10
easyocr>=1.7.0

# For building packages like numpy from source if needed
setuptools>=68.0.0
wheel
